<p id="notice"><%= notice %></p>

<h1>Characters</h1>


<table class="table">
  <thead>
    <tr>
      <th>Nom du personnage</th>
      <th>Âge</th>
      <th>Genre</th>
      <th>Race</th>
      <th>Classe</th>
      <th>Alignement</th>
      <th>Personalité MBTI</th>
      <th>Principale qualité</th>
      <th>Principal défaut</th>
      <th>Couleur des cheveux</th>
      <th>Couleur des yeux</th>
      <th>Signes distinctifs</th>
      <th>Passé</th>
      <th>Rêve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.age %></td>
        <td><%= character.gender %></td>
        <td><%= character.race %></td>
        <td><%= character.jobclass %></td>
        <td><%= character.alignment %></td>
        <td><%= character.personality %></td>
        <td><%= character.mainquality %></td>
        <td><%= character.mainfault %></td>
        <td><%= character.haircolor %></td>
        <td><%= character.eyescolor %></td>
        <td><%= character.signs %></td>
        <td><%= character.past %></td>
        <td><%= character.dream %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character), class:"btn btn-primary btn-lg" %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-lg" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path, class:"btn btn-primary btn-lg" %>
