<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Jobclass:</strong>
  <%= @character.jobclass %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @character.alignment %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @character.personality %>
</p>

<p>
  <strong>Mainquality:</strong>
  <%= @character.mainquality %>
</p>

<p>
  <strong>Mainfault:</strong>
  <%= @character.mainfault %>
</p>

<p>
  <strong>Haircolor:</strong>
  <%= @character.haircolor %>
</p>

<p>
  <strong>Eyescolor:</strong>
  <%= @character.eyescolor %>
</p>

<p>
  <strong>Signs:</strong>
  <%= @character.signs %>
</p>

<p>
  <strong>Past:</strong>
  <%= @character.past %>
</p>

<p>
  <strong>Dream:</strong>
  <%= @character.dream %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
