<!DOCTYPE html>
<html>
  <head>
    <title>RandomCharacterGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('faviconRandomGenerator.png') %>
  </head>

  <body>
    <%# <%= render 'header' %>
    <div class="pseudo-body"><%= yield %></div>
  </body>
</html>
